*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #000 !important;
  color: #fff !important;
}
.header_div{
  position: fixed;
  width: 65vw;
  background-color: #000;
  z-index: 2;
}
.user_data_div{
  padding-top: 300px;
}

@media (max-width: 480px){
  .public_repo_div{
    display: flex;
    flex-direction: column;
  }
  .main_div{
    overflow: scroll;
  }
  .repo_div{
    display: flex;
    flex-direction: column;
  }
  .header_div{
    width: 92vw;
  }
}
